In [ ]:
### Write a program to accept percentage from the user and display the grade according to the following criteria: 
Marks                        Grade
>90                            A 
>80 and <=90                   B 
>=60 and <=80                  C 
below 60                       D

In [6]:
a=int(input("Enter the marks: "))
if a>90:
    print("A Grade")
elif (a>80) and (a<=90):
    print("B Grade")
elif (a>=60) and (a<=80):
    print("C Grade")
else :
    print("D Grade")

Enter the marks: 80
C Grade

In [ ]:
### Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria: 
   Tax              Tax in Rupees
   15%                 >100000
   10%              50000 and <=100000
    5%                 <= 50000

In [8]:
cost_price=int(input("Enter the price of the bike: "))
if cost_price>100000:
  print(f"Road tax to be paid on this bike will be of amount {cost_price*0.15}")
elif (cost_price>50000) and (cost_price<=100000):
  print(f"Road tax to be paid on this bike will be of amount {cost_price*0.10}")
else :
  print(f"Road tax to be paid on this bike will be of amount {cost_price*0.05}")

Enter the price of the bike: 1000000
Road tax to be paid on this bike will be of amount 150000.0

In [ ]:
### Accept any city from the user and display monuments of that city. 
      City                    Monument
      Delhi                   Red Fort
      Agra                    Taj Mahal
      Jaipur                  Jal Mahal

In [11]:
city = input("Enter the name of the city: ")

if city == "Delhi":
  monuments = ["Red Fort"]
  print("Monuments in Delhi:")
  for monument in monuments:
    print("- " + monument)
elif city == "Agra":
  monuments = ["Taj Mahal"]
  print("Monuments in Agra:")
  for monument in monuments:
    print("- " + monument)
elif city == "Jaipur":
  monuments = ["Jal Mahal"]
  print("Monuments in Jaipur:")
  for monument in monuments:
    print("- " + monument)
else:
  print("Sorry, I don't have information on monuments in the city " + city + ".")

Enter the name of the city: Aligarh
Sorry, I don't have information on monuments in the city Aligarh.

In [ ]:
### Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [18]:
number = int(input("Enter a number: "))
count = 0
while number > 10:
    number = number/3
    count += 1
print("The number can be divided by 3", count, "times.")

Enter a number: 6
The number can be divided by 3 0 times.

In [15]:
### Why and When to Use while Loop in Python give a detailed description with example

In [ ]:
### Ans- In Python, the while loop is used when you want to repeatedly execute a block of code as long as a specific condition is true,
# The basic syntax for a while loop in Python is as follows:where condition is an expression that is evaluated before each iteration of the loop. 
# If the condition is True, the code inside the loop is executed. If the condition is False, the loop terminates and the program continues with the next statement after the loop.

count = 1

while count <= 10:
    print(count)
    count += 1

In [ ]:
 ### Use nested while loop to print 3 different pattern

In [ ]:
### Triangular Pattern
rows = int(input("Enter the number of rows: "))

row = 1
while row <= rows:
    column = 1
    while column <= row:
        print("*", end="")
        column += 1
    print("")
    row += 1

In [ ]:
### Diamond Pattern
rows = int(input("Enter the number of rows: "))

row = 1
while row <= rows:
    column = 1
    while column <= rows - row:
        print(" ", end="")
        column += 1
    column = 1
    while column <= 2 * row - 1:
        print("*", end="")
        column += 1
    print("")
    row += 1

row = rows - 1
while row >= 1:
    column = 1
    while column <= rows - row:
        print(" ", end="")
        column += 1
    column = 1
    while column <= 2 * row - 1:
        print("*", end="")
        column += 1
    print("")
    row -= 1

In [ ]:
### Right Angles Triangle Pattern
rows = int(input("Enter the number of rows: "))

row = 1
while row <= rows:
    column = 1
    while column <= row:
        print("*", end="")
        column += 1
    print("")
    row += 1

In [ ]:
#### Reverse a while loop to display numbers from 10 to 1.

In [ ]:
number = 10
while number >= 1:
    print(number)
    number -= 1