In [1]:
"""Q1. Create a python program to sort the given list of tuples based on integer value using a  lambda function."""
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)] 


player_records = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_records = sorted(player_records, key=lambda x: x[1], reverse=True)

print(sorted_records)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [9]:
""""Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using  lambda and map functions.""" 
      ### [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 



numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
###Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and  lambda functions 
###Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
###Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10') 
 

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple_of_strings = tuple(map(lambda x: str(x), numbers))

print(tuple_of_strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
###Q4.  Write a python program using reduce function to compute the product of a list containing numbers  from 1 to 25. 


from functools import reduce

numbers = [x for x in range(1, 26)]

product = reduce(lambda x, y: x * y, numbers)

print(product)

15511210043330985984000000

In [13]:
###Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the  filter function. 
###[2, 3, 6, 9, 27, 60, 90, 120, 55, 46] 


numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

print(filtered_numbers)

[6, 60, 90, 120]

In [14]:
###Q6. Write a python program to find palindromes in the given list of strings using lambda and filter  function. 
###['python', 'php', 'aba', 'radar', 'level'] 


words = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], words))

print(palindromes)

['php', 'aba', 'radar', 'level']